<div class=" content">
    <div class=" row">
      
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Product lists  </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="" class="table tablesorter">
                <thead class="text-primary">
                  <tr>
                    <th>datec</th>
                    <th>description</th>
                    <th>finished</th>
                    <th>import_key</th>
                     <th>price</th>
                    <th>price_ttc</th>
                    <th>ref</th>
                    <th>seuil_stock_alerte</th>
                    <th>stock</th>
                    <th>tobuy</th>
                    <th>tosell</th>
                    <th>volume</th>
                    <th>volume_units</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of products;">
                    <td>{{p.datec}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.finished}}</td>
                    <td>{{p.importKey}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.priceTtc}}</td>
                    <td>{{p.ref}}</td>
                    <td>{{p.seuil_stock_alerte}}</td>
                    <td>{{p.stock}}</td>
                    <td>{{p.tobuy}}</td>
                    <td>{{p.tosell}}</td>
                    <td>{{p.volume}}</td>
                    <td>{{p.volume_units}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>